/* Post Grid */
.post-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-item {
  width: 90%;
  height: 28vh;
  margin-top: 2.5vh;
  margin-bottom: 3vh;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.grid-item:hover, .grid-item:focus, .grid-item:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition-property: transform;
}

.grid-item img:hover {
  opacity: 0.8;
  transition: .3s;
}

.post-info {
  margin-top: .5vh;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95vw;
  cursor: pointer;
}

#title-and-author {
  float: left;
  font-size: 1vw;
  font-weight: 500;
}

#post-likes {
  float: right;
}

/* Search-Bar */
.search-bar {
  position: absolute;
  top: 1.5vh;
  left: 21%;
  height: 5vh;
  width: 55vw;
  display: flex;
  flex-direction: row;
  font-family: "Georgia", serif;
}

.search-bar input {
  margin-left: 3vw;
  width: 80%;
  background-color: #D9D9D9;
  border-radius: 0;
}

.search-bar input:focus {
  color: #000000;
  background-color: #D9D9D9;
  border: 1px solid #da5767;
  transition: .3s;
}

.search-bar input:hover {
  color: #000000;
  background-color: #D9D9D9;
  border: 1px solid #da5767;
  transition: .3s;
}

.search-bar button {
  width: 12%;
  margin-left: 1vw;
  background-color: #CC5871;
}

.search-bar button:hover {
  background-color: #aa344d;
  transition: .3s;
}

/* Display/Sort Options */
.display-and-sort {
  display: flex;
  flex-direction: column;
  height: 50%;
  font-family: "Georgia", serif;
}

.display-and-sort span {
  background-color: #343434;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 2.3rem;
  width: 12vw;
}

.display-options {
  float: left;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.input {
  display: inline;
}

.sort-options {
  float: left;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.display-and-sort input {
  margin-left: 1rem;
  margin-right: 0.4rem;
}

.increment-button {
  font-size: 1.75vw;
  color: #aa344d;
  background: none;
  border: none;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1vw;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.increment-button .increment-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.increment-button:hover .increment-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.increment-button:hover {
  color: #dd8c9e;
}

.decrement-button {
  font-size: 1.75vw;
  color: #aa344d;
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1vw;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.decrement-button .decrement-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.decrement-button:hover .decrement-icon {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}

.decrement-button:hover {
  color: #dd8c9e;
}
