/* ArtInfo.js styling */
.artinfo-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.art-info-label {
  font-size: 25px;
}

.add-post-input {
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 3px;
  width: 80%;
  height: 10%;
}

.add-post-textarea {
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 3px;
  resize: none;
  width: 80%;
  height: 40%;
}

.add-post-visibility {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.add-post-message {
  align-self: center;
  text-align: center;
  font-size: 18px;
}

/* AryUpload.js styling */
.add-post-file-upload {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art-upload-label {
  display: block;
  width: 80%;
}

.add-post-file-upload input {
  display: none;
}

.add-post-file-upload img {
  width: 100%;
  background-color: #D9D9D9;
  cursor: pointer;
  object-fit: contain;
}

.add-post-upload-button {
  font-size: 20px;
}