/* ProfileSettings.js Styling */
.profile-settings {
  font-family: "Georgia", serif;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.submit-button {
  font-size: 1.5vw;
  width: 50%;
  border: none;
  background-color: #da5767;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #da5767;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #da5767, 0 0 1px #da5767;
}

.submit-button:hover, .submit-button:focus, .submit-button:active {
  background-color: #da576699;
}

/* FriendRequests.js Styling */
.friends-page {
  font-family: "Georgia", serif;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-box {
  width: 80%;
  height: 25%;
  overflow-y: auto;
  scrollBehavior: smooth;
}

.friend-list {
  list-style: none;
}

.pending-list {
  list-style: none;
}

.sent-list {
  list-style: none;
}

.remove-friend-button {
  font-size: 0.75vw;
  float: right;
}

.decline-button {
  font-size: 0.75vw;
  float: right;
}

.accept-button {
  font-size: 0.75vw;
  float: right;
}

#username-input {
  display: inline-block;
}

.submit-button-friend {
  height: 25%;
  width: 30%;
  background-color: #da5767;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #da5767;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #da5767, 0 0 1px #da5767;
  border: none;
}

.submit-button-friend:hover, .submit-button-friend:focus, .submit-button-friend:active {
  background-color: #da576699;
}

.add-a-friend {
  display: inline-block;
  padding-bottom: 1ch;
} 

.add-friend-container {
  display: inline;
  padding-bottom: 2ch;
}
