/* ProfileSettings.js Styling */
.profile-settings {
  font-family: "Georgia", serif;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.submit-button {
  background-color: #CC5871;
  font-size: 1.25vw;
  width: 50%;
  border: none;
}

.submit-button:hover {
  background-color: #aa344d;
}

/* FriendRequests.js Styling */
.friends-page {
  font-family: "Georgia", serif;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-box {
  width: 80%;
  height: 25%;
  overflow-y: auto;
  scrollBehavior: smooth;
}

.friend-list {
  list-style: none;
}

.pending-list {
  list-style: none;
}

.sent-list {
  list-style: none;
}

.remove-friend-button {
  font-size: 0.75vw;
  float: right;
}

.decline-button {
  font-size: 0.75vw;
  float: right;
}

.accept-button {
  font-size: 0.75vw;
  float: right;
}