.background {
  /* Set background to full page */
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* Position the 'Page' components on background */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}