.menu-tabs {
  display: flex;
  flex-direction: column;
}

.home-tab {
  font-size: 2vw;
  width: 12vw;
  background-color: #D9D9D9;
}

.add-post-tab {
  font-size: 2vw;
  width: 4vw;
  margin-left: 8vw;
  background-color: #D9D9D9;
}

.profile-tab {
  font-size: 2vw;
  width: 4vw;
  margin-left: 8vw;
  background-color: #D9D9D9;
}